<div class="row">
  <div class="col-md-9">
    <img ng-src="{{ photoUrl }}" class="img-responsive">
  </div>
  <div class="col-md-3">
    <div class="media" ng-hide="comments.length > 0">
      <p>No comments...</p>
    </div>
    <div class="media" ng-repeat="comment in comments">
      <div class="pull-left">
        <img class="media-object" ng-src="{{ comment.author.thumbnail }}">
      </div>
      <div class="media-body">
        <p>{{ comment.content }}</p>
      </div>
    </div>
    <textarea class="form-control" rows="2" ng-model="newComment.content"></textarea>
    <button ng-click="sendComment(newComment)" class="btn btn-primary" ng-class="{disabled: !newComment.content}">Send comment</button>
  </div>
</div>
